.hero-video {
    object-fit: cover;
    z-index: -2;
}

.hero-overlay {
    opacity: 0.65;
    z-index: -1;
}

.stage-img {
    height: 250px;
    object-fit: cover;
}

.navbar {
    transition: top 0.4s ease;
}

nav.navbar-hidden {
    top: -200px;
}
