.hero-video {
    object-fit: cover;
    z-index: -2;
}

.hero-overlay {
    opacity: 0.65;
    z-index: -1;
}

.stage-img {
    height: 250px;
    object-fit: cover;
}

.link-hover {
  transition: color 0.2s ease;
}

.link-hover:hover {
  color: #0d6efd;
}
